# Keenetic connection settings
ROUTER_IP=192.168.1.1
ROUTER_USER=admin
ROUTER_PASS=password

# Web-panel authorization settings
WEB_USER=admin
WEB_PASS=password
WEB_SESSION_TTL=24h # Session Duration: 30m, 1h, 24h, 365d